.info {
    padding: -10px 0 40px;
    background: linear-gradient(rgba(11, 120, 188, 0) 10%,
    rgba(7, 74, 116, 0.6) 60%,
    rgba(3, 28, 44, 0.6) 100%),
    url(./media/saint-petersburg.89aede21a59fd583da89.webp) no-repeat 80% 50%;
    background-size: cover;
    box-shadow: 0 0 20px 0 #43648130;
}

.info-block {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 40px auto;
    padding: 30px 30px;
    background: rgba(3, 55, 88, 0.546);
    border-radius: 20px;
}

.info-block p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.main-title {
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    line-height: 100px;
    color: #004168;
}
.image-cat {
    padding: 10px;
    border-radius: 10%;
}


